Django
Pillow
celery
django-libsass
feedparser
pip-tools
redis
-e git+https://github.com/mireq/django-assets-manager.git@af4944e6f1def727b84f51583a911ef60e978d55#egg=django_assets_manager
-e git+https://github.com/mireq/django-ajax-utils.git@84577c4f3d8ffbc74314da1b0ac8605fd352edd1#egg=django_ajax_utils
Werkzeug
django-debug-toolbar
django-debugtools
django-extensions
ipython<6
libsass
ptpython
pyinotify
pylint-django
watchdog
