celery
django
django-libsass
feedparser
pillow
pip-tools
redis
-e git+https://github.com/mireq/django-assets-manager.git@d8677dc8fcf2f6be950792c14f9982478f2063e0#egg=django_assets_manager
-e git+https://github.com/mireq/django-ajax-utils.git@78b2db0eba07b08bd64812e7c310a71a2ffddf1d#egg=django_ajax_utils
Werkzeug
django-debug-toolbar
django-debugtools
django-extensions
ipython<6
libsass
ptpython
pyinotify
pylint-django
watchdog
