{% extends "base.html" %}

{% load text_tags url_tags %}

{% block site_title %}{% trans "RSS reader" %}{% endblock %}

{% block content %}
	<div class="list-navigation">
		<div class="select-link">
			<a href="{% current_link_add list_ordering="new" %}" class="button{% if filters.list_ordering == "new" %} active{% endif %}">{% trans "New first" %}</a>
			<a href="{% current_link_add list_ordering="old" %}" class="button{% if filters.list_ordering == "old" %} active{% endif %}">{% trans "Old first" %}</a>
		</div>
	</div>

	<ul class="entries">
		{% for entry in object_list %}
			<li class="entry {% if entry.is_read %} old{% endif %}{% if entry.is_favorite %} favorite{% endif %}">
				<span class="feed">{{ entry.feed_name }}</span>
				<a class="title" href="{{ entry.get_absolute_url }}">{{ entry }}</a>
				<div class="summary">
					{{ entry.summary|short_summary }}
				</div>
				<a class="fullclickable-link" href="{{ entry.get_absolute_url }}"></a>
			</li>
		{% empty %}
			<li class="message-box">
				{% trans "No entries" %}
			</li>
		{% endfor %}
	</ul>
	{% include "includes/pagination.html" %}
{% endblock %}
