{% extends "base.html" %}

{% block title %}{% trans "RSS reader" %}{% endblock %}

{% block content %}
	<div class="entry">
		<div class="info">
			<h1><a href="{{ entry.link }}" target="_blank">{{ entry }}&nbsp;</a></h1>
			<div class="extra-info">
				<span class="feed">
					{{ entry.feed_name }}
				</span>
				<span class="date">
					{{ entry.created|date:"SHORT_DATETIME_FORMAT" }}
				</span>
			</div>
		</div>
		<div class="summary">
			{{ entry.summary|safe }}
		</div>
	</div>
{% endblock %}

{% block top_navigation %}
	<a href="{% if prev %}{{ prev.get_absolute_url }}{% else %}#{% endif %}" class="button left{% if not prev %} disabled{% endif %}"></a>
	<a href="{% if next %}{{ next.get_absolute_url }}{% else %}#{% endif %}" class="button right{% if not next %} disabled {% endif %}"></a>
{% endblock %}
