{% extends "base.html" %}

{% load url_tags %}

{% block site_title %}{% trans "RSS reader" %}{% endblock %}

{% block content %}
	<div class="list-navigation">
		{% if filters.list_ordering == "old" %}
			<a href="{% current_link_add list_ordering="new" %}" class="button">{% trans "New first" %}</a>
		{% else %}
			<a href="{% current_link_add list_ordering="old" %}" class="button">{% trans "Old first" %}</a>
		{% endif %}
	</div>

	<ul class="entries">
		{% for entry in object_list %}
			<li class="{% if not entry.is_read %} new{% endif %}{% if entry.is_favorite %} favorite{% endif %}">
				<span class="feed">{{ entry.feed_name }}</span>
				<a class="title" href="{{ entry.get_absolute_url }}">{{ entry }}</a>
				<div class="summary">
					{{ entry.short_summary }}
				</div>
				<a class="fullclickable-link" href="{{ entry.get_absolute_url }}"></a>
			</li>
		{% empty %}
			<li class="message-box">
				{% trans "No entries" %}
			</li>
		{% endfor %}
	</ul>

	{% if is_paginated %}
		<div class="pagination">
			{% if page_obj.has_previous %}
				<a class="previous button" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a>
			{% endif %}
			{% if page_obj.has_next %}
				<a class="next button" href="{{ request.path }}?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
			{% endif %}
		</div>
	{% endif %}
{% endblock %}
