{% extends "base.html" %}

{% block head_title %}{% trans "New entries" %} | {{ block.super }}{% endblock %}
{% block title %}{% trans "New entries" %}{% endblock %}

{% block content %}
	<div class="entry">
		<div class="info">
			<h1><a href="{{ entry.link }}" target="_blank">{{ entry }}&nbsp;</a></h1>
			<div class="extra-info">
				<span class="feed">
					{{ entry.feed_name }}
				</span>
				<span class="date">
					{{ entry.created|date:"SHORT_DATETIME_FORMAT" }}
				</span>
			</div>
		</div>
		<div class="summary">
			{{ entry.summary|safe }}
		</div>
	</div>
{% endblock %}

{% block top_navigation %}
	{% if prev %}
		<a href="{{ prev.get_absolute_url }}?list_type={{ request.GET.list_type }}" class="button left"></a>
	{% endif %}
	{% if next %}
		<a href="{{ next.get_absolute_url }}?list_type={{ request.GET.list_type }}" class="button right"></a>
	{% endif %}
{% endblock %}
