{% extends "base.html" %}

{% load text_tags url_tags %}

{% block site_title %}{% trans "Add feed" %}{% endblock %}

{% block content %}
	<div class="list-navigation">
		<ul class="breadcrumb">
			<li><a href="{% url "settings_view" %}">{% trans "Settings" %}</a></li>
			<li><a href="{% url "user_feed_list" %}">{% trans "Feeds" %}</a></li>
			<li>{% trans "Add feed" %}</li>
		</ul>
	</div>
	<form class="ajaxform" action="{{ request.path }}" method="post" data-waiting-text="{% trans "Importing" %}" data-error-text="{% trans "Import error" %}">
		{% csrf_token %}
		{% include "includes/form_loop.html" %}
		<p class="result-row" style="display: none">
		</p>
		<div class="submit-row">
			<div class="negative">
				<a class="button secondary" href="{% url "user_feed_list" %}">{% trans "Back" %}</a>
			</div>
			<div class="positive">
				<button type="submit">{% trans "Add" %}</button>
			</div>
		</div>
	</form>
{% endblock %}
