{% extends "base.html" %}

{% load text_tags url_tags %}

{% block site_title %}{% trans "Feeds" %}{% endblock %}

{% block content %}
	<div class="content-navigation">
		<a class="button" href="{% url "feeds:user_feed_create" %}">{% trans "Add new feed" %}</a>
		<ul class="breadcrumb">
			<li><a href="{% url "settings_view" %}">{% trans "Settings" %}</a></li>
			<li>{% trans "Feeds" %}</li>
		</ul>
	</div>
	<ul class="entries">
		{% for userfeed in object_list %}
			{% with feed=userfeed.feed %}
				<li class="entry">
					<span class="feed-status {% if feed.update_status == feed.UPDATE_STATUS_UPDATED %}ok{% else %}error{% endif %}">{{ feed.get_update_status_display }}</span>
					<a class="title" href="{{ userfeed.get_absolute_url }}">{{ feed.title }}</a>
					<div class="summary small">
						{{ feed.description|short_summary }}
					</div>
					<a class="fullclickable-link" href="{{ userfeed.get_absolute_url }}"></a>
				</li>
			{% endwith %}
		{% endfor %}
	</ul>
	{% include "includes/pagination.html" %}
{% endblock %}
