{% extends "base.html" %}

{% load text_tags url_tags %}

{% block site_title %}{% trans "Feeds" %}{% endblock %}

{% block content %}
	<div class="list-navigation">
		<a class="button" href="{% url "user_feed_create" %}">{% trans "Add new feed" %}</a>
	</div>
	<ul class="entries">
		{% for userfeed in object_list %}
			{% with feed=userfeed.feed %}
				<li class="entry">
					<span class="status {% if feed.update_status == feed.UPDATE_STATUS_UPDATED %}ok{% else %}error{% endif %}">{{ feed.get_update_status_display }}</span>
					<a class="title" href="">{{ feed.title }}</a>
					<div class="summary small">
						{{ feed.description|short_summary }}
					</div>
					<a class="fullclickable-link" href=""></a>
				</li>
			{% endwith %}
		{% endfor %}
	</ul>
	{% include "includes/pagination.html" %}
{% endblock %}
