{% extends "base.html" %}

{% block site_title %}{% trans "RSS reader" %}{% endblock %}
{% block bodyclass %}entry-detail{% endblock %}

{% block content %}
	<div id="entry_detail" class="content-page" data-id="{{ object.entry.id|unlocalize }}">
		<div class="title">
			<h1><a href="{{ object.entry.link }}" class="open-key-link" target="_blank">{{ object }}&nbsp;</a></h1>
			<div class="extra-info">
				<span class="feed">
					{{ feed }}
				</span>
				<span class="date">
					{{ object.entry.created|date:"SHORT_DATETIME_FORMAT" }}
				</span>
				{% if object.entry.author_name %}
					|
					<span class="user">
						{{ object.entry.author_name }}
					</span>
				{% endif %}
			</div>
		</div>
		<div class="summary content">
			{{ object.entry.summary|safe }}
		</div>
		<div class="bottom-actions">
			<div class="secondary">
				<form action="{{ request.path }}" method="post">
					{% csrf_token %}
					<button class="button" type="submit" name="action" value="{% if object.is_favorite %}unfavorite{% else %}favorite{% endif %}">
						{% if object.is_favorite %}
							{% trans "Unfavorite" %}
						{% else %}
							{% trans "Favorite" %}
						{% endif %}
					</button>
				</form>
			</div>
			<div class="primary">
				<a class="button" href="{{ object.link }}" target="_blank">{% trans "Open" %}</a>
			</div>
		</div>
	</div>
{% endblock %}

{% block top_navigation %}
	<a id="prev_item_link" data-id="{{ prev.pk }}" href="{% if prev %}{{ prev.get_absolute_url }}{% else %}#{% endif %}" class="button left left-key-link{% if not prev %} disabled{% endif %}"></a>
	<a id="next_item_link" data-id="{{ next.pk }}" href="{% if next %}{{ next.get_absolute_url }}{% else %}#{% endif %}" class="button right right-key-link{% if not next %} disabled {% endif %}"></a>
{% endblock %}
