{% extends "base.html" %}

{% load text_tags url_tags %}

{% block site_title %}{% trans "RSS reader" %}{% endblock %}

{% block content %}
	<div class="content-navigation">
		<div class="select-link">
			<a href="{% current_link_add list_ordering="new" %}" class="button{% if filters.list_ordering == "new" %} active{% endif %}">{% trans "New first" %}</a>
			<a href="{% current_link_add list_ordering="old" %}" class="button{% if filters.list_ordering == "old" %} active{% endif %}">{% trans "Old first" %}</a>
		</div>
	</div>

	<ul class="entries">
		{% for userentry in object_list %}
			<li class="entry {% if userentry.is_read %} old{% endif %}{% if userentry.is_favorite %} favorite{% endif %}">
				<span class="feed">{{ userentry.entry.feed.user_feed.0.name }}</span>
				<a class="title" href="{{ userentry.get_absolute_url }}">{{ userentry }}</a>
				<div class="summary">
					{{ userentry.entry.summary|short_summary }}
				</div>
				<a class="fullclickable-link" href="{{ userentry.get_absolute_url }}"></a>
			</li>
		{% empty %}
			<li class="message-box">
				{% trans "No entries" %}
			</li>
		{% endfor %}
	</ul>
	{% include "includes/pagination.html" %}
{% endblock %}
