$base-margin: 16px;
$base-margin-reduced: 12px;
$input-spacing: $base-margin;

$background-color: white;
$text-color: black;
$body-background-color: mix($background-color, $text-color, 95%);
$primary-color: #6b8fc7;
$primary-complement: white;
$invalid-color: #ee5555;
$active-color: mix($primary-color, $background-color, 75%);

$flat-buttons: false;

$input-border-color: mix($background-color, $text-color, 80%);
$input-shadow-color: mix($background-color, $text-color, 93%);
$light-border-color: mix($background-color, $text-color, 95%);

$menu-width: 260px;

$info-color: #008cba;
$success-color: #3a945b;
$warning-color: #f08a24;
$error-color: #f04124;
$danger-color: #f04124;

$info-text-color: $background-color;
$success-text-color: $background-color;
$warning-text-color: $background-color;
$error-text-color: $background-color;
$danger-text-color: $background-color;
