$rem-base: 16px !default;

@function strip-unit($num) {
	@return $num / ($num * 0 + 1);
}

@function lower-bound($range){
	@if length($range) <= 0 {
		@return 0;
	}
	@return nth($range,1);
}

@function upper-bound($range) {
	@if length($range) < 2 {
		@return 999999999999;
	}
	@return nth($range, 2);
}

@function convert-to-rem($value, $base-value: $rem-base)  {
	$value: strip-unit($value) / strip-unit($base-value) * 1rem;
	@if ($value == 0rem) { $value: 0; } // Turn 0rem into 0
	@return $value;
}

@function rem-calc($values, $base-value: $rem-base) {
	$max: length($values);

	@if $max == 1 { @return convert-to-rem(nth($values, 1), $base-value); }

	$remValues: ();
	@for $i from 1 through $max {
		$remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
	}
	@return $remValues;
}

@mixin base-margin {
	margin: $base-margin;
}

@mixin base-margin-horizontal {
	margin-left: $base-margin;
	margin-right: $base-margin;
}

@mixin base-margin-vertical {
	margin-top: $base-margin;
	margin-bottom: $base-margin;
}

@mixin base-margin-cancel-horizontal {
	margin-left: -$base-margin;
	margin-right: -$base-margin;
}

@mixin base-margin-cancel-bottom {
	margin-left: -$base-margin;
	margin-right: -$base-margin;
	margin-bottom: -$base-margin;
}

@mixin base-margin-cancel-top {
	margin-top: -$base-margin;
	margin-left: -$base-margin;
	margin-right: -$base-margin;
}

@mixin base-padding {
	padding: $base-margin;
}

@mixin base-padding-horizontal {
	padding-left: $base-margin;
	padding-right: $base-margin;
}

@mixin base-padding-vertical {
	padding-top: $base-margin;
	padding-bottom: $base-margin;
}

@mixin base-padding-vertical-content {
	padding-top: $base-margin / 2;
	padding-bottom: $base-margin / 2;
}

@mixin input-margin {
	margin-bottom: $input-spacing;
}

@mixin input-padding {
	padding: 8px 10px;
}

@mixin button($button-background, $text-color, $only-color: false) {
	@if ($flat-buttons == false) {
		box-shadow: inset 0px 1px 0px 0px mix($button-background, #fff);
		background: linear-gradient(to bottom, $button-background 5%, darken($button-background, 2%) 100%);
		border: 1px solid darken($button-background, 10%);
	}

	background-color: $button-background;
	font-size: 90%;
	line-height: 1.2;
	border-radius: 0;
	cursor: pointer;
	box-sizing: border-box;

	@if ($only-color == false) {
		font-weight: bold;
		display: block;
	}

	color: $text-color;
	@if ($only-color == false) {
		display: block;
		@include input-padding;
	}
	&:hover {
		color: $text-color;
		@if ($only-color == false) {
			text-decoration: none;
		}
	}

	&:active {
		background-color: darken($button-background, 5%);
		@if ($flat-buttons == false) {
			background: linear-gradient(to bottom, darken($button-background, 5%) 5%, darken(darken($button-background, 5%), 2%) 100%);
			border: 1px solid darken($button-background, 15%);
		}
	}

	&:disabled {
		background-color: mix($button-background, $background-color);
		@if ($flat-buttons == false) {
			background: linear-gradient(to bottom, mix($button-background, $background-color) 5%, darken(mix($button-background, $background-color), 2%) 100%);
			border: 1px solid darken(mix($button-background, $background-color), 10%);
		}
	}

	&:active  {
		box-shadow: 0 0 5px $primary-color;;
	}

	@if ($flat-buttons == true) {
		.btn-group & {
			border-left: 1px solid darken($button-background, 5%);
		}
	}
}

@mixin text-ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

$screen: "only screen";

$xsmall-range: (0, 30em);
$small-range: (30.063em, 40em);
$medium-range: (40.063em, 52em);
$large-range: (52.063em, 64em);
$xlarge-range: (64.063em, 90em);
$xxlarge-range: (90.063em, 99999999em);

$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

$xsmall-up: $screen;
$xsmall-down: "#{$screen} and (max-width:#{lower-bound($xsmall-range)})";
$xsmall-only: "#{$screen} and (min-width: #{upper-bound($xsmall-range)})";

$small-up: "#{$screen} and (min-width:#{lower-bound($small-range)})";
$small-down: "#{$screen} and (max-width:#{upper-bound($small-range)})";
$small-only: "#{$screen} and (min-width:#{lower-bound($small-range)}) and (max-width:#{upper-bound($small-range)})";

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$medium-down: "#{$screen} and (max-width:#{upper-bound($medium-range)})";
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";
$large-down: "#{$screen} and (max-width:#{upper-bound($large-range)})";
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})";

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})";
$xlarge-down: "#{$screen} and (max-width:#{upper-bound($xlarge-range)})";
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})";

$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})";
$xxlarge-down: $screen;
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})";

$hdpi: "(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)";

@import 'constants_white';

html, body {
	background: $body-background-color;
	color: $text-color;
	font-family: sans-serif;
	margin: 0;
}

#content {
	margin-top: -$base-margin;
	background: $background-color;
	box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.25), 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
	overflow: hidden;
	@media #{$large-up} {
		@include base-margin;
		margin-top: -$base-margin;
	}

	form {
		@include base-padding;
	}
}

#header {
	padding: ($base-margin-reduced / 2) $base-margin-reduced ($base-margin * 1.5) $base-margin-reduced;
}

.heading {
	@include base-padding-horizontal;
	@include base-padding-vertical-content;
}

#header, .heading {
	background: $primary-color;
	overflow: hidden;
	h1, .title {
		color: $primary-complement;
		font-size: 22px;
		line-height: 22px;
		vertical-align: middle;
		display: block;
		margin: 0;
		padding: 9px ($base-margin-reduced / 2);
		vertical-align: middle;
		font-weight: 300;
		@include text-ellipsis;
	}
}

#menu {
	background: $body-background-color;
	position: fixed;
	z-index: 10;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 240px;
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
	margin-left: -256px;
	transition: all 0.2s;

	.heading .title {
		padding: 0;
		@include base-padding-vertical-content;
		&:before {
			content: " ";
			display: inline-block;
			width: 0;
			height: 0;
			border-style: solid;
			vertical-align: middle;
			margin: 0 $base-margin 0 0;
			border-width: 6px 12px 6px 0;
			border-color: transparent #ffffff transparent transparent;
			vertical-align: middle;
		}
	}

	#menu-content {
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}

	body.visible-menu & {
		margin-left: 0;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
	}

	li {
		padding: 0;
		margin: 0;
	}

	a {
		display: block;
		background: $background-color;
		color: $text-color;
		@include text-ellipsis;
		@include base-padding-horizontal;
		@include base-padding-vertical-content;

		&:hover, &:active {
			text-decoration: none;
			background: mix($primary-color, $background-color, 75%);
			color: $primary-complement;
		}
	}

	li.active a {
		font-weight: bold;
	}
}

#menu_shadow {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: black;
	opacity: 0.5;
	z-index: 9;
	display: none;

	body.visible-menu & {
		display: block;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	margin: 0 0 $base-margin 0;
}

h1 {
	font-size: 22px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 19px;
}

a {
	color: $primary-color;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

input, button, textarea, select, a {
	outline: 0px solid transparent;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
select,
textarea {
	@include input-margin;
	@include input-padding;

	display: block;
	background: $background-color;
	border: 1px solid $input-border-color;
	box-shadow: inset 0 1px 3px $input-shadow-color;
	box-sizing: border-box;
	border-radius: 0;
	width: 100%;

	&:focus {
		outline: 0;
		border-color: $primary-color;
		box-shadow: 0px 0px 4px -1px $primary-color;
	}

	&:focus:invalid, .has-errors & {
		border-color: $invalid-color;
		color: $invalid-color;
		box-shadow: 0px 0px 4px -1px $invalid-color;
	}

	&[disabled] {
		cursor: not-allowed;
		background-color: mix($background-color, $text-color, 80%);
		color: mix($background-color, $text-color, 40%);;
	}
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	outline: thin solid $primary-color;
	outline: 1px auto $primary-color;
}

button, input[type=submit], .button {
	@include input-margin;
	@include button($primary-color, $primary-complement);
}

button::-moz-focus-inner {
	padding: 0;
	border: 0
}

.button-group {
	overflow: hidden;
	padding-left: 1px;
	button, input[type=submit], .button {
		display: block;
		float: left;
		margin-left: -1px;
	}
}

#header {
	button, input[type=submit], .button {
		font-size: 14px;
		padding: ($base-margin-reduced / 2) $base-margin-reduced;
		height: 35px;
		margin-bottom: 0;
	}

	a {
		color: white;
	}

	.navigation {
		float: right;
	}

	.toggle-menu {
		float: left;
		font-size: 22px;
		line-height: 22px;
		padding: 9px 0;
		width: 40px;
		height: 22px;
		margin-left: -$base-margin / 2;
		@media #{$large-up} {
			margin-left: 0;
		}
		&:before {
			content: " ";
			display: block;
			border: none;
			margin-left: auto;
			margin-right: auto;
			box-shadow: 0px 3px 0px 2px #FFF, 0px 10px 0px 2px #FFF, 0px 17px 0px 2px #FFF;
			width: 1px;
		}
		&:hover {
			text-decoration: none;
		}
	}

	.button.left, .button.right {
		width: 35px;
		padding-left: 0;
		padding-right: 0;
		margin-top: $base-margin-reduced / 4;
		&:before {
			content: " ";
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			vertical-align: middle;
			margin: 5px auto;
		}
	}

	.button.right:before {
		border-width: 6px 0 6px 12px;
		border-color: transparent transparent transparent #ffffff;
	}

	.button.left:before {
		border-width: 6px 12px 6px 0;
		border-color: transparent #ffffff transparent transparent;
	}

	.button.menu {
		float: left;
		margin-right: $base-margin-reduced / 2;
		&:before {
			border: none;
			box-shadow: 0px -7px 0px 2px #FFF, 0px 0px 0px 2px #FFF, 0px 7px 0px 2px #FFF;
			width: 16px;
		}
	}
}

select {
	height: 2.25em;
	border: 1px solid $input-border-color;
	background-color: $background-color;
	color: $text-color;
}

select[multiple] {
	height: auto;
}


label {
	display: block;
	margin: 0;
	color: mix($text-color, $background-color, 80%);
}

.errors {
	@include base-padding;
	@include base-margin-cancel-horizontal;
	@include input-margin;
	list-style: none;
	border-top: 1px solid #ffd9d9;
	border-bottom: 1px solid #ffd9d9;
	color: maroon;
	background: #ffe6e6;
}

.errors:first-child {
	@include base-margin-cancel-top;
}

.submit-row, .pagination {
	@include base-padding;
	padding-bottom: $base-margin - $input-spacing;
	overflow: hidden;
	background: mix($background-color, $text-color, 98%);
	border-top: 1px solid mix($background-color, $text-color, 90%);
	box-shadow: inset 0px 4px 3px -3px rgba(0, 0, 0, 0.02);
}

.pagination {
	.previous {
		float: left;
	}

	.next {
		float: right;
	}
}

.submit-row {
	@include base-margin-cancel-bottom;
	.positive {
		float: right;
	}

	.negative {
		float: left;
	}
}

.fullclickable-link {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.entries {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		@include base-padding-horizontal;
		@include base-padding-vertical;
		border-top: 1px solid $light-border-color;
		position: relative;
		overflow: hidden;
		&:first-child {
			border-top: none;
		}
		.title {
			@include text-ellipsis;
			display: block;
			font-weight: bold;
			text-decoration: none;
			color: mix($text-color, $background-color, 80%);
		}
		.feed {
			float: right;
			font-size: 14px;
			padding-left: $base-margin;
			color: mix($text-color, $background-color, 50%);
		}
		.summary {
			font-size: 14px;
			line-height: 18px;
			height: 36px;
			overflow: hidden;
			color: mix($text-color, $background-color, 60%);
			margin-top: $base-margin-reduced;
		}
		&:hover {
			background: mix($primary-color, $background-color, 75%);
			.title {
				color: $primary-complement;
			}
			.feed, .summary {
				color: mix($primary-complement, $primary-color, 75%);
			}
		}
	}
}

body.login {
	#content {
		@include base-margin;
		margin-top: -$base-margin;
	}
	@media #{$large-up} {
		#content {
			max-width: 400px;
			margin-left: auto;
			margin-right: auto;
			margin-top: $base-margin * 2;
		}

		#header {
			padding: ($base-margin-reduced / 2) $base-margin-reduced;
		}
	}
}
