{% load assets_manager %}<!DOCTYPE html>
<html>
<head>
	<title>{% block head_title %}{% trans "RSS reader" %}{% endblock %}</title>
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	{% compress css %}
		<link rel="stylesheet" type="text/x-scss" href="{% static "css/style.scss" %}" />
	{% endcompress %}
</head>
<body class="{% block bodyclass %}{% endblock %}">
{% block body %}
	<div id="header">
		<header>
			<div class="button-group navigation">
				<button>◀</button>
				<button>▶</button>
			</div>
			<h1>{% block title %}{% endblock %}</h1>
		</header>
	</div>

	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
{% endblock %}

{% compress js %}
{% assets_js "app" %}
{% endcompress %}
</body>
</html>

