{% load accounts_tags assets_manager %}<!DOCTYPE html>
<html>
<head>
	<title>{% block head_title %}{% trans "RSS reader" %}{% endblock %}</title>
	<meta charset="utf-8" />
	<meta name="mobile-web-app-capable" content="yes">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	{% compress css %}
		<link rel="stylesheet" type="text/x-scss" href="{% static "css/style.scss" %}" />
	{% endcompress %}
</head>
<body class="{% block bodyclass %}{% endblock %}{% if "visible-menu" in request.GET %} visible-menu{% endif %}">
{% block body %}
	<div id="header">
		<header>
			<a class="toggle-menu" href="#"></a>
			<div class="button-group navigation">
				{% block top_navigation %}
				{% endblock %}
			</div>
			<h1>{% block title %}{% endblock %}&nbsp;</h1>
		</header>
	</div>

	<div id="menu_shadow" class="close-menu">
	</div>
	<div id="menu">
		<div id="menu-content">
			<nav>
				<div class="heading">
					<div class="user">
						<img class="avatar" src="{% gravatar_for_email request.user.email %}" alt="avatar" />
						<div class="info">
							{% if request.user.is_authenticated %}
								<div class="username">{{ user.get_full_name }}</div>
							{% else %}
								<div class="username">{% trans "Anonymous user" %}</div>
							{% endif %}
							<div class="entries">
								{% if request.user.is_authenticated %}
									{% blocktrans count value=request.user.new_entries_count %}{{ value }} new entry{% plural %}{{ value }} new entries{% endblocktrans %}
								{% else %}
									{% trans "Please log in" %}
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				<ul>
					{% if user.is_authenticated %}
						<li><a href="{% url "accounts:logout" %}">Logout</a></li>
					{% else %}
						{% url "home" as next_url %}
						<li><a href="{% url "accounts:login" %}?next={{ next_url|urlencode:"" }}">Login</a></li>
					{% endif %}
				</ul>
			</nav>
		</div>
	</div>

	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
{% endblock %}

{% compress js %}
{% assets_js "app" %}
{% endcompress %}
</body>
</html>

