{% load assets_manager url_tags %}<!DOCTYPE html>
<html>
<head>
	<title>{% block head_title %}{% trans "RSS reader" %}{% endblock %}</title>
	<meta charset="utf-8" />
	<meta name="mobile-web-app-capable" content="yes">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	{% compress css %}
		<link rel="stylesheet" type="text/x-scss" href="{% static "css/style.scss" %}" />
	{% endcompress %}
</head>
<body class="{% block bodyclass %}{% endblock %}{% if "visible_menu" in request.GET %} visible-menu{% endif %}">
{% block body %}
	<div id="header">
		<header>
			<a class="toggle-menu" href="{% if "visible_menu" in request.GET %}{% current_link_remove "visible_menu" %}{% else %}{% current_link_add visible_menu=1 %}{% endif %}"></a>
			<div id="top_navigation" class="button-group navigation">
				{% block top_navigation %}
				{% endblock %}
			</div>
			<h1 id="site_title">{% block site_title %}{% trans "RSS reader" %}{% endblock %}&nbsp;</h1>
		</header>
	</div>

	<div id="menu_shadow" class="close-menu">
	</div>
	<div id="menu">
		<div id="menu-content">
			<nav id="navigation">
				{% block navigation %}
					{% include "includes/navigation.html" %}
				{% endblock %}
			</nav>
		</div>
	</div>

	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
{% endblock %}

<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
{% compress js %}
{% assets_js "app" %}
{% endcompress %}
</body>
</html>
