{% load pjax_tags %}
{% pjaxblock bodyclass %}{% block bodyclass %}{% endblock %}{% endpjaxblock %}
{% pjaxblock extrastyle %}{% block extrastyle %}{% endblock %}{% endpjaxblock %}
{% pjaxblock extrajs %}{% block extrajs %}{% endblock %}{% endpjaxblock %}
{% pjaxblock site_title %}{% block site_title %}{% trans "RSS reader" %}{% endblock %}&nbsp;{% endpjaxblock %}
{% pjaxblock head_title %}{% block head_title %}{% trans "RSS reader" %}{% endblock %}{% endpjaxblock %}
{% pjaxblock top_navigation %}{% block top_navigation %}{% endblock %}{% endpjaxblock %}
{% pjaxblock navigation %}{% block navigation %}{% include "includes/navigation.html" %}{% endblock %}{% endpjaxblock %}
{% block content %}{% endblock %}
